@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root{
  --dark-green: hsl(157, 42, 17);
  --grey-light: hsl(228, 8, 75);
  --light-green:hsl(158, 24, 45);  
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: antiquewhite;
}

.container {
  max-width: 600px;
  display: flex;
  max-height: fit-content;
  overflow: hidden;
}

.section-2 {
  border-radius: 0 1rem 1rem 0;
  background-color: white;
  padding: 2rem;
  max-width: 50%;
}

.section-1 {
  background: url(./images/image-product-desktop.jpg);
  background-size: cover;
  width: 100%;
  max-height: 450px;
  border-radius: 1rem 0 0 1rem;
}
h4{
  font-family: "Montserrat", serif;
}



@media (max-width: 600px) {

  .container {
    width: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: auto; /* Adjusted to fit content */
  }
  .section-1 {
    background: url(./images/image-product-mobile.jpg);
    background-size: cover;
    height: 200px; 
    max-width: 100%;
    border-radius: 1rem 1rem 0 0;
  }
  .section-2{
    max-width: 100%;
    border-radius: 0 0 1rem 1rem;
  }
}
